@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family:
    Pretendard,
    -apple-system;
}

body {
  color: var(--color-text-primary);
  /* 상하 스크롤 바운스 시 배경 흰색 보이는 것 방지 */
  overscroll-behavior-y: none;
  /* 가로 스크롤 완전 차단 */
  overflow-x: hidden;
}

@layer base {
  /* 디폴트 버튼 스타일 */
  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: default;
  }

  /* 숫자 인풋 화살표 제거 */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* swiper 기본스타일 오버라이드 */
  .swiper-pagination-bullet {
    background-color: var(--color-icon-disabled) !important;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-brand-primary) !important;
  }

  .swiper-pagination-bullets,
  .swiper-pagination-horizontal {
    height: 8px;
    display: flex;
    justify-content: center;
  }
}

/* typography */
@layer components {
  .text-hero {
    font-weight: 700;
    font-size: 72px; /* 9xl */
    line-height: 125%;
    letter-spacing: 0;
  }

  .text-headline-l {
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    letter-spacing: 0;
  }

  .text-headline-m {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0;
  }

  .text-headline-s {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    letter-spacing: 0;
  }

  .text-title-1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
  }

  .text-title-2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0;
  }

  .text-title-3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;
  }

  .text-label-l {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .text-label-m {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .text-label-s {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
  }

  /* Body */
  .text-body-1 {
    font-weight: 400; /* Regular */
    font-size: 16px; /* md */
    line-height: 180%;
    letter-spacing: 0;
  }

  .text-body-2 {
    font-weight: 400; /* Regular */
    font-size: 14px; /* sm */
    line-height: 180%;
    letter-spacing: 0;
  }

  /* Button */
  .text-button-1 {
    font-weight: 700; /* Bold */
    font-size: 16px; /* md */
    line-height: 24px; /* Line Height L */
    letter-spacing: 0;
  }

  .text-button-2 {
    font-weight: 700; /* Bold */
    font-size: 14px; /* sm */
    line-height: 20px; /* Line Height M */
    letter-spacing: 0;
  }

  .text-button-3 {
    font-weight: 700; /* Bold */
    font-size: 12px; /* xs */
    line-height: 20px; /* Line Height M */
    letter-spacing: 0;
  }

  /* Caption */
  .text-caption-l {
    font-weight: 400; /* Regular */
    font-size: 14px; /* md */
    line-height: 24px; /* Line Height L */
    letter-spacing: 0;
  }

  .text-caption-m {
    font-weight: 400; /* Regular */
    font-size: 12px; /* sm */
    line-height: 20px; /* Line Height M */
    letter-spacing: 0;
  }

  .text-caption-s {
    font-weight: 400; /* Regular */
    font-size: 11px; /* xs */
    line-height: 16px; /* Line Height S */
    letter-spacing: 0;
  }
}

@theme {
  /* 헤더 높이 토큰화 */
  --spacing-header-height: 48px;
  /* --spacing-header-height: clamp(
    calc(48px * 0.8),
    calc((48 / 796) * 100svh),
    calc(48px * 1.2)
  ); */
  /* margin */
  /* spacing-1 */
  --spacing-margin-x-xs: clamp(
    calc(4px * 0.5),
    calc((4 / 390) * 100vw),
    calc(4px * 1.2)
  );
  --spacing-margin-y-xs: clamp(
    calc(4px * 0.5),
    calc((4 / 796) * 100svh),
    calc(4px * 1.2)
  );

  /* spacing-2 */
  --spacing-margin-x-s: clamp(
    calc(8px * 0.5),
    calc((8 / 390) * 100vw),
    calc(8px * 1.2)
  );
  --spacing-margin-y-s: clamp(
    calc(8px * 0.5),
    calc((8 / 796) * 100svh),
    calc(8px * 1.2)
  );

  /* spacing-3 */
  --spacing-margin-x-m: clamp(
    calc(12px * 0.5),
    calc((12 / 390) * 100vw),
    calc(12px * 1.2)
  );
  --spacing-margin-y-m: clamp(
    calc(12px * 0.5),
    calc((12 / 796) * 100svh),
    calc(12px * 1.2)
  );

  /* spacing-6 */
  --spacing-margin-x-l: clamp(
    calc(16px * 0.5),
    calc((16 / 390) * 100vw),
    calc(16px * 1.2)
  );
  --spacing-margin-y-l: clamp(
    calc(16px * 0.5),
    calc((16 / 796) * 100svh),
    calc(16px * 1.2)
  );

  /* spacing-10 */
  --spacing-margin-x-xl: clamp(
    calc(24px * 0.5),
    calc((24 / 390) * 100vw),
    calc(24px * 1.2)
  );
  --spacing-margin-y-xl: clamp(
    calc(24px * 0.5),
    calc((24 / 796) * 100svh),
    calc(24px * 1.2)
  );

  /* spacing-20 */
  --spacing-margin-x-xxl: clamp(
    calc(48px * 0.5),
    calc((48 / 390) * 100vw),
    calc(48px * 1.2)
  );
  --spacing-margin-y-xxl: clamp(
    calc(48px * 0.5),
    calc((48 / 796) * 100svh),
    calc(48px * 1.2)
  );

  /* spacing-40 */
  --spacing-margin-x-xxxl: clamp(
    calc(80px * 0.5),
    calc((80 / 390) * 100vw),
    calc(80px * 1.2)
  );
  --spacing-margin-y-xxxl: clamp(
    calc(80px * 0.5),
    calc((80 / 796) * 100svh),
    calc(80px * 1.2)
  );

  /* gap */
  /* spacing-1 */
  --spacing-gap-x-xs: clamp(
    calc(4px * 0.5),
    calc((4 / 390) * 100vw),
    calc(4px * 1.2)
  );
  --spacing-gap-y-xs: clamp(
    calc(4px * 0.5),
    calc((4 / 796) * 100svh),
    calc(4px * 1.2)
  );

  /* spacing-2 */
  --spacing-gap-x-s: clamp(
    calc(8px * 0.5),
    calc((8 / 390) * 100vw),
    calc(8px * 1.2)
  );
  --spacing-gap-y-s: clamp(
    calc(8px * 0.5),
    calc((8 / 796) * 100svh),
    calc(8px * 1.2)
  );

  /* spacing-4 */
  --spacing-gap-x-m: clamp(
    calc(12px * 0.5),
    calc((12 / 390) * 100vw),
    calc(12px * 1.2)
  );
  --spacing-gap-y-m: clamp(
    calc(12px * 0.5),
    calc((12 / 796) * 100svh),
    calc(12px * 1.2)
  );

  /* spacing-6 */
  --spacing-gap-x-l: clamp(
    calc(16px * 0.5),
    calc((16 / 390) * 100vw),
    calc(16px * 1.2)
  );
  --spacing-gap-y-l: clamp(
    calc(16px * 0.5),
    calc((16 / 796) * 100svh),
    calc(16px * 1.2)
  );

  /* spacing-10 */
  --spacing-gap-x-xl: clamp(
    calc(24px * 0.5),
    calc((24 / 390) * 100vw),
    calc(24px * 1.2)
  );
  --spacing-gap-y-xl: clamp(
    calc(24px * 0.5),
    calc((24 / 796) * 100svh),
    calc(24px * 1.2)
  );

  /* padding */
  /* spacing-1 */
  --spacing-padding-x-xxs: clamp(
    calc(4px * 0.5),
    calc((4 / 390) * 100vw),
    calc(4px * 1.2)
  );
  --spacing-padding-y-xxs: clamp(
    calc(4px * 0.5),
    calc((4 / 796) * 100svh),
    calc(4px * 1.2)
  );

  /* spacing-2 */
  --spacing-padding-x-xs: clamp(
    calc(8px * 0.5),
    calc((8 / 390) * 100vw),
    calc(8px * 1.2)
  );
  --spacing-padding-y-xs: clamp(
    calc(8px * 0.5),
    calc((8 / 796) * 100svh),
    calc(8px * 1.2)
  );

  /* spacing-3 */
  --spacing-padding-x-s: clamp(
    calc(12px * 0.5),
    calc((12 / 390) * 100vw),
    calc(12px * 1.2)
  );
  --spacing-padding-y-s: clamp(
    calc(12px * 0.5),
    calc((12 / 796) * 100svh),
    calc(12px * 1.2)
  );

  /* spacing-4 */
  --spacing-padding-x-m: clamp(
    calc(16px * 0.5),
    calc((16 / 390) * 100vw),
    calc(16px * 1.2)
  );
  --spacing-padding-y-m: clamp(
    calc(16px * 0.5),
    calc((16 / 796) * 100svh),
    calc(16px * 1.2)
  );

  /* spacing-6 */
  --spacing-padding-x-l: clamp(
    calc(20px * 0.5),
    calc((20 / 390) * 100vw),
    calc(20px * 1.2)
  );
  --spacing-padding-y-l: clamp(
    calc(20px * 0.5),
    calc((20 / 796) * 100svh),
    calc(20px * 1.2)
  );

  /* spacing-8 */
  --spacing-padding-x-xl: clamp(
    calc(24px * 0.5),
    calc((24 / 390) * 100vw),
    calc(24px * 1.2)
  );
  --spacing-padding-y-xl: clamp(
    calc(24px * 0.5),
    calc((24 / 796) * 100svh),
    calc(24px * 1.2)
  );

  /* spacing-12 */
  --spacing-padding-x-xxl: clamp(
    calc(32px * 0.5),
    calc((32 / 390) * 100vw),
    calc(32px * 1.2)
  );
  --spacing-padding-y-xxl: clamp(
    calc(32px * 0.5),
    calc((32 / 796) * 100svh),
    calc(32px * 1.2)
  );

  /* ========== Neutral Colors ========== */
  --color-neutral-1100: #000000;
  --color-neutral-1000: #1b1c2f;
  --color-neutral-900: #302f42;
  --color-neutral-800: #524a72;
  --color-neutral-700: #67627c;
  --color-neutral-600: #808299;
  --color-neutral-500: #a0a2ad;
  --color-neutral-400: #a4a6b2;
  --color-neutral-300: #bbbfcc;
  --color-neutral-200: #e8ebf2;
  --color-neutral-100: #f7f8ff;
  --color-neutral-0: #ffffff;

  /* ----- Dark Alpha (black with opacity) ----- */
  --color-neutral-dark-90: rgba(0, 0, 0, 0.9);
  --color-neutral-dark-80: rgba(0, 0, 0, 0.8);
  --color-neutral-dark-70: rgba(0, 0, 0, 0.7);
  --color-neutral-dark-60: rgba(0, 0, 0, 0.6);
  --color-neutral-dark-50: rgba(0, 0, 0, 0.5);
  --color-neutral-dark-40: rgba(0, 0, 0, 0.4);
  --color-neutral-dark-30: rgba(0, 0, 0, 0.3);
  --color-neutral-dark-20: rgba(0, 0, 0, 0.2);
  --color-neutral-dark-10: rgba(0, 0, 0, 0.1);
  --color-neutral-dark-0: rgba(0, 0, 0, 0);

  /* ----- Light Alpha (white with opacity) ----- */
  --color-neutral-light-90: rgba(255, 255, 255, 0.9);
  --color-neutral-light-80: rgba(255, 255, 255, 0.8);
  --color-neutral-light-70: rgba(255, 255, 255, 0.7);
  --color-neutral-light-60: rgba(255, 255, 255, 0.6);
  --color-neutral-light-50: rgba(255, 255, 255, 0.5);
  --color-neutral-light-40: rgba(255, 255, 255, 0.4);
  --color-neutral-light-30: rgba(255, 255, 255, 0.3);
  --color-neutral-light-20: rgba(255, 255, 255, 0.2);
  --color-neutral-light-10: rgba(255, 255, 255, 0.1);
  --color-neutral-light-0: rgba(255, 255, 255, 0);

  /* brand color */
  --color-brand-primary: #5d57f6;
  --color-brand-secondary: #b5e7ff;

  --color-brand-primary-alpha-90: rgba(93, 87, 246, 0.9);
  --color-brand-primary-alpha-80: rgba(93, 87, 246, 0.8);
  --color-brand-primary-alpha-70: rgba(93, 87, 246, 0.7);
  --color-brand-primary-alpha-60: rgba(93, 87, 246, 0.6);
  --color-brand-primary-alpha-50: rgba(93, 87, 246, 0.5);
  --color-brand-primary-alpha-40: rgba(93, 87, 246, 0.4);
  --color-brand-primary-alpha-30: rgba(93, 87, 246, 0.3);
  --color-brand-primary-alpha-20: rgba(93, 87, 246, 0.2);
  --color-brand-primary-alpha-10: rgba(93, 87, 246, 0.1);

  /* border */
  --color-border-base: var(--color-neutral-200);
  --color-border-layer-1: var(--color-neutral-300);
  --color-border-layer-2: var(--color-neutral-400);
  --color-border-layer-3: var(--color-neutral-500);
  --color-border-muted: var(--color-neutral-100);
  --color-border-inverse: var(--color-neutral-900);
  --color-border-transparent: var(--color-neutral-dark-0);
  --color-border-alpha: var(--color-neutral-dark-10);
  --color-border-alpha-inverse: var(--color-neutral-light-10);

  /* feedback */
  --color-feedback-success-fg: #16a34a;
  --color-feedback-warning-fg: #d1b400;
  --color-feedback-error-fg: #ef4444;
  --color-feedback-info-fg: var(--color-brand-primary);

  --color-feedback-success-bg: #bbf7d1;
  --color-feedback-warning-bg: #feffc1;
  --color-feedback-error-bg: #fee2e2;
  --color-feedback-info-bg: #d6f0ff;

  /* overlay */
  --color-overlay-base: var(--color-neutral-dark-60);
  --color-overlay-soft: var(--color-neutral-dark-30);
  --color-overlay-inverse: var(--color-neutral-light-60);

  /* surface */
  --color-surface-base: var(--color-neutral-0);
  --color-surface-layer-1: var(--color-neutral-100);
  --color-surface-layer-2: var(--color-neutral-200);
  --color-surface-layer-3: var(--color-neutral-300);
  --color-surface-muted: var(--color-neutral-200);
  --color-surface-inverse: var(--color-neutral-1100);
  --color-surface-transparent: var(--color-neutral-light-0);
  --color-surface-alpha: var(--color-neutral-light-30);
  --color-surface-alpha-inverse: var(--color-neutral-dark-30);

  /* text */
  --color-text-primary: var(--color-neutral-1000);
  --color-text-secondary: var(--color-neutral-800);
  --color-text-tertiary: var(--color-neutral-600);
  --color-text-disabled: var(--color-neutral-400);
  --color-text-link: var(--color-brand-primary);
  --color-text-link-hover: var(--color-brand-primary-alpha-90);

  --color-text-inverse-primary: var(--color-neutral-0);
  --color-text-inverse-secondary: var(--color-neutral-200);
  --color-text-inverse-tertiary: var(--color-neutral-300);

  /* icon */
  --color-icon-default: var(--color-text-primary);
  --color-icon-hover: var(--color-text-secondary);
  --color-icon-muted: var(--color-text-tertiary);
  --color-icon-disabled: var(--color-text-disabled);
  --color-icon-primary: var(--color-text-link);
  --color-icon-success: var(--color-feedback-success-fg);
  --color-icon-warning: var(--color-feedback-warning-fg);
  --color-icon-error: var(--color-feedback-error-fg);
  --color-icon-info: var(--color-feedback-info-fg);
  --color-icon-inverse: var(--color-text-inverse-primary);
  --color-icon-inverse-hover: var(--color-text-inverse-secondary);

  /* button */
  --background-image-button-gradient-1: linear-gradient(
    90deg,
    #7974ff 0%,
    #e1c0fc 100%
  );
  --background-image-button-gradient-2: linear-gradient(
    90deg,
    var(--color-neutral-100) 0%,
    var(--color-neutral-200) 100%
  );
  --background-image-button-gradient-3: linear-gradient(
    90deg,
    var(--color-neutral-200) 0%,
    var(--color-neutral-200) 100%
  );

  --color-button-primary-bg-default: var(--color-brand-primary);
  --color-button-primary-bg-hover: #0c4872;
  --color-button-primary-text-default: var(--color-text-inverse-primary);

  --color-button-secondary-bg-default: #edf0ff;
  --color-button-secondary-bg-hover: #d6f0ff;
  --color-button-secondary-text-default: var(--color-text-link);

  --color-button-tertiary-bg-default: var(--color-surface-base);
  --color-button-tertiary-bg-hover: var(--color-surface-layer-1);
  --color-button-tertiary-text-default: var(--color-text-primary);
  --color-button-tertiary-border-default: var(--color-border-base);
  --color-button-tertiary-border-hover: var(--color-border-layer-1);

  --color-button-disabled-bg: var(--color-surface-muted);
  --color-button-disabled-text: var(--color-text-disabled);

  /* field */
  --color-field-text-default: var(--color-text-primary);
  --color-field-text-hover: var(--color-text-secondary);
  --color-field-text-mute: var(--color-text-tertiary);
  --color-field-text-disabled: var(--color-text-disabled);
  --color-field-text-inverse: var(--color-text-inverse-primary);
  --color-field-text-primary: var(--color-text-link);

  --color-field-bg-default: var(--color-surface-base);
  --color-field-bg-hover: var(--color-surface-layer-1);
  --color-field-bg-muted: var(--color-surface-muted);
  --color-field-bg-success: var(--color-feedback-success-bg);
  --color-field-bg-warning: var(--color-feedback-warning-bg);
  --color-field-bg-error: var(--color-feedback-error-bg);
  --color-field-bg-info: var(--color-feedback-info-bg);

  --color-field-border-default: var(--color-border-base);
  --color-field-border-hover: var(--color-border-layer-1);
  --color-field-border-muted: var(--color-border-muted);
  --color-field-border-success: var(--color-feedback-success-fg);
  --color-field-border-warning: var(--color-feedback-warning-fg);
  --color-field-border-error: var(--color-feedback-error-fg);
  --color-field-border-info: var(--color-feedback-info-fg);

  /* interactive */
  --color-interactive-text-default: var(--color-text-primary);
  --color-interactive-text-hover: var(--color-text-secondary);
  --color-interactive-text-mute: var(--color-text-tertiary);
  --color-interactive-text-disabled: var(--color-text-disabled);
  --color-interactive-text-inverse: var(--color-text-inverse-primary);
  --color-interactive-text-primary: var(--color-text-link);

  --color-interactive-bg-default: var(--color-surface-base);
  --color-interactive-bg-hover: var(--color-surface-layer-1);
  --color-interactive-bg-muted: var(--color-surface-muted);
  --color-interactive-bg-success: var(--color-feedback-success-bg);
  --color-interactive-bg-warning: var(--color-feedback-warning-bg);
  --color-interactive-bg-error: var(--color-feedback-error-bg);
  --color-interactive-bg-info: var(--color-feedback-info-bg);

  --color-interactive-border-default: var(--color-border-base);
  --color-interactive-border-hover: var(--color-border-layer-1);
  --color-interactive-border-muted: var(--color-border-muted);
  --color-interactive-border-success: var(--color-feedback-success-fg);
  --color-interactive-border-warning: var(--color-feedback-warning-fg);
  --color-interactive-border-error: var(--color-feedback-error-fg);
  --color-interactive-border-info: var(--color-feedback-info-fg);

  /* shadow */
  --shadow-1: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
  --shadow-2: 0px 4px 12px 0 rgba(0, 0, 0, 0.1);
  --shadow-3: 0px 8px 24px 0 rgba(0, 0, 0, 0.1);
  --shadow-4: 0px 12px 48px 0 rgba(0, 0, 0, 0.1);

  --shadow-button-1:
    inset 0px 4px 3px 0px rgba(255, 255, 255, 0.4),
    0px 8px 12px 0px rgba(23, 17, 168, 0.15),
    inset 4px 4px 10px 0px rgba(255, 255, 255, 0.4);
  /* inset -4px -4px 10px 0px rgba(7, 8, 117, 0.6); */
  --shadow-button-1-2:
    inset 0px 4px 3px 0px rgba(82, 82, 242, 0.3),
    inset 4px 4px 10px 0px rgba(255, 255, 255, 0.9),
    inset -4px -4px 10px 0px rgba(0, 0, 58, 0.2);
  --shadow-button-2:
    inset 0px 4px 3px 0px rgba(215, 218, 254, 0.6),
    0px 8px 12px 0px rgba(12, 8, 109, 0.15),
    inset 4px 4px 8px 0px rgba(255, 255, 255, 1);
  /* inset -4px -4px 5px 0px rgba(32, 24, 75, 1); */
  --shadow-button-2-2:
    inset -4px -4px 10px 0px rgba(28, 49, 138, 0.2),
    inset 0px 4px 8px 0px rgba(198, 204, 238, 0.3),
    inset 4px 4px 5px 0px rgba(255, 255, 255, 0.5);
  --shadow-button-3:
    inset 0px 4px 3px 0px rgba(255, 255, 255, 0.4),
    inset 4px 4px 10px 0px rgba(255, 255, 255, 0.4);
  /* inset -4px -4px 10px 0px rgba(7, 8, 117, 0.6); */
}

.dark {
  /* brand color */
  --color-brand-primary: #8e89ff;

  --color-brand-primary-alpha-90: rgba(93, 87, 246, 0.9);
  --color-brand-primary-alpha-80: rgba(93, 87, 246, 0.8);
  --color-brand-primary-alpha-70: rgba(93, 87, 246, 0.7);
  --color-brand-primary-alpha-60: rgba(93, 87, 246, 0.6);
  --color-brand-primary-alpha-50: rgba(93, 87, 246, 0.5);
  --color-brand-primary-alpha-40: rgba(93, 87, 246, 0.7);
  --color-brand-primary-alpha-30: rgba(93, 87, 246, 0.3);
  --color-brand-primary-alpha-20: rgba(93, 87, 246, 0.2);
  --color-brand-primary-alpha-10: rgba(93, 87, 246, 0.3);

  /* border */
  --color-border-base: var(--color-neutral-900);
  --color-border-layer-1: var(--color-neutral-800);
  --color-border-layer-2: var(--color-neutral-700);
  --color-border-layer-3: var(--color-neutral-600);
  --color-border-muted: var(--color-neutral-1000);
  --color-border-inverse: var(--color-neutral-200);
  --color-border-transparent: var(--color-neutral-dark-0);
  --color-border-alpha: var(--color-neutral-light-10);
  --color-border-alpha-inverse: var(--color-neutral-dark-10);

  /* feedback */
  --color-feedback-success-fg: #16a34a;
  --color-feedback-warning-fg: #d1b400;
  --color-feedback-error-fg: #ef4444;
  --color-feedback-info-fg: var(--color-brand-primary);

  --color-feedback-success-bg: #bbf7d1;
  --color-feedback-warning-bg: #feffc1;
  --color-feedback-error-bg: #fee2e2;
  --color-feedback-info-bg: #d6f0ff;

  /* overlay */
  --color-overlay-base: var(--color-neutral-dark-60);
  --color-overlay-soft: var(--color-neutral-dark-30);
  --color-overlay-inverse: var(--color-neutral-light-60);

  /* surface */
  --color-surface-base: var(--color-neutral-1100);
  --color-surface-layer-1: var(--color-neutral-1000);
  --color-surface-layer-2: var(--color-neutral-900);
  --color-surface-layer-3: var(--color-neutral-800);
  --color-surface-muted: var(--color-neutral-900);
  --color-surface-inverse: var(--color-neutral-0);
  --color-surface-transparent: var(--color-neutral-dark-0);
  --color-surface-alpha: var(--color-neutral-dark-30);
  --color-surface-alpha-inverse: var(--color-neutral-light-30);

  /* text */
  --color-text-primary: var(--color-neutral-0);
  --color-text-secondary: var(--color-neutral-200);
  --color-text-tertiary: var(--color-neutral-300);
  --color-text-disabled: var(--color-neutral-500);
  --color-text-link: var(--color-brand-primary);
  --color-text-link-hover: var(--color-brand-primary-alpha-90);

  --color-text-inverse-primary: var(--color-neutral-0);
  --color-text-inverse-secondary: var(--color-neutral-200);
  --color-text-inverse-tertiary: var(--color-neutral-300);
}
